name: PR / Lint

on:
  pull_request:
    branches:
     - main

permissions:
  contents: read

env:
  LEIN_USE_BOOTCLASSPATH: no

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup project
        uses: ./.github/actions/setup-clojure-project

      - name: Run linters
        uses: ./.github/actions/lint-clojure-project
